@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Times New Roman', sans-serif;
  font-weight: 400;
  font-size: 16px;

  color: $color-primary;
  background-color: $color-background;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  width: 3px; /* ширина всей полосы прокрутки */
  height: 3px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #939393;

  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #dc56c5;
}
