// $color-primary: #111518;
// $color-secondary: #b9b9b9;
// $color-accent: #ff6b09;
// $color-secondary-dark: #3d3d3d;
// $color-background: #fff;
// $color-gradient: rgba(17, 21, 24, 0.9) ;
$mobile: 320px;
$responsive: 480px;
$tablet: 768px;
$desktop: 1280px;
// $transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
