<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <section class="section">
          <p class="footer-text">
            © 2021 | All Rights Reserved | Developed with
            <span class="footer-heart">♥</span> by GoIT Students: <br />Ольга
            Петренко, Леонід Сестриватовський, Юрій Полупан, Галина Мельникова,
            Ірина Мафтей
          </p>
        </section>
      </div>
    </footer>
  </body>
</html>
