<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="section gallery">
      <div class="container">
        <h2 class="gallery__title visually-hidden"></h2>
        <ul class="gallery__list gallery-list-js">
          <li class="gallery__item">
            <div class="gallery-box__img">
              <img
                class="gallery__img"
                src="./images/testimg.jpg"
                alt="poster"
                loading="lazy"
              />
            </div>
            <h3 class="gallery__subtitle">Eurovision 2021 finals!</h3>
            <p class="gallery__years">2021-05-13</p>
            <p class="gallery__location">
              <img
                class="gallery__icon"
                src="./images/location.svg"
                alt="location"
                loading="lazy"
              />
              Palace of Ukraine
            </p>
          </li>
          <li class="gallery__item">
            <div class="gallery-box__img">
              <img
                class="gallery__img"
                src="./images/testimg.jpg"
                alt="poster"
                loading="lazy"
              />
            </div>
            <h3 class="gallery__subtitle">Eurovision 2021 finals!</h3>
            <p class="gallery__years">2021-05-13</p>
            <p class="gallery__location">
              <img
                class="gallery__icon"
                src="./images/location.svg"
                alt="location"
                loading="lazy"
                width="7"
                height="10"
              />
              Palace of Ukraine
            </p>
          </li>
          <li class="gallery__item">
            <div class="gallery-box__img">
              <img
                class="gallery__img"
                src="./images/testimg.jpg"
                alt="poster"
                loading="lazy"
              />
            </div>
            <h3 class="gallery__subtitle">Eurovision 2021 finals!</h3>
            <p class="gallery__years">2021-05-13</p>
            <p class="gallery__location">
              <img
                class="gallery__icon"
                src="./images/location.svg"
                alt="location"
                loading="lazy"
                width="7"
                height="10"
              />
              Palace of Ukraine
            </p>
          </li>
          <li class="gallery__item">
            <div class="gallery-box__img">
              <img
                class="gallery__img"
                src="./images/testimg.jpg"
                alt="poster"
                loading="lazy"
              />
            </div>
            <h3 class="gallery__subtitle">Eurovision 2021 finals!</h3>
            <p class="gallery__years">2021-05-13</p>
            <p class="gallery__location">
              <img
                class="gallery__icon"
                src="./images/location.svg"
                alt="location"
                loading="lazy"
                width="7"
                height="10"
              />
              Palace of Ukraine
            </p>
          </li>
          <li class="gallery__item">
            <div class="gallery-box__img">
              <img
                class="gallery__img"
                src="./images/testimg.jpg"
                alt="poster"
                loading="lazy"
              />
            </div>
            <h3 class="gallery__subtitle">Eurovision 2021 finals!</h3>
            <p class="gallery__years">2021-05-13</p>
            <p class="gallery__location">
              <img
                class="gallery__icon"
                src="./images/location.svg"
                alt="location"
                loading="lazy"
                width="7"
                height="10"
              />
              Palace of Ukraine
            </p>
          </li>
          <li class="gallery__item">
            <div class="gallery-box__img">
              <img
                class="gallery__img"
                src="./images/testimg.jpg"
                alt="poster"
                loading="lazy"
              />
            </div>
            <h3 class="gallery__subtitle">Eurovision 2021 finals!</h3>
            <p class="gallery__years">2021-05-13</p>
            <p class="gallery__location">
              <img
                class="gallery__icon"
                src="./images/location.svg"
                alt="location"
                loading="lazy"
                width="7"
                height="10"
              />
              Palace of Ukraine
            </p>
          </li>
        </ul>
        <div class="gallery-page">
          <ul class="gallery-page__list">
            <li class="gallery-page__item">1</li>
            <li class="gallery-page__item">2</li>
            <li class="gallery-page__item">3</li>
            <li class="gallery-page__item">4</li>
            <li class="gallery-page__item">5</li>
            <li class="gallery-page__item">...</li>
            <li class="gallery-page__item">29</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
