<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="section gallery">
      <div class="container">
        <h2 class="gallery__title visually-hidden"></h2>
        <ul class="gallery__list gallery-list-js"></ul>
        <div id="tui-pagination-container" class="tui-pagination"></div>
        <!-- <div class="gallery-page">
          <ul class="gallery-page__list">
            <li class="gallery-page__item">1</li>
            <li class="gallery-page__item">2</li>
            <li class="gallery-page__item">3</li>
            <li class="gallery-page__item">4</li>
            <li class="gallery-page__item">5</li>
            <li class="gallery-page__item">...</li>
            <li class="gallery-page__item">29</li>
          </ul>
        </div> -->
      </div>
    </section>
  </body>
</html>
